.wallet {
	width: 15.6rem;
	height: 3.553rem;
	cursor: pointer;
	background: transparent;
	border: 0.1rem solid rgb(255, 255, 255, 0.55);
	border-radius: 5rem;
	font-weight: 400;
	line-height: 3.2rem;
	text-align: center;
	color: rgb(255, 255, 255, 0.55);
}
